services:
    postgres: 
        image: postgres:13
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        ports:
            - '5432:5432'
        volumes:
            - ./postgres_data:/var/lib/postgresql/data

    pgadmin:
        image: dpage/pgadmin4
        environment:
            - PGADMIN_DEFAULT_EMAIL=root@admin.com
            - PGADMIN_DEFAULT_PASSWORD=root
        ports:
            - '5050:80'

    mysqladmin: 
        image: mysql:5
        environment: 
            MYSQL_DB: ${MYSQL_DB}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        ports:
          - '3306-3307'
        volumes:
            - ./mysql_data:/var/lib/mysql